body {
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    font-size: 30px;
}

/* calculator layout and styling */

.background-box {
    background-color: white;
    height: 700px;
    width: 600px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-grid {
    display: flex;
    width: 500px;
    border-radius: 10px;
}

.flex-col {
    flex: 1;
    background-color: white;
    text-align: center;
}

.flex-col-item {
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.flex-col-item:hover, .flex-row-item:hover {
    background-color: lightblue;
}

.flex-row {
    display: flex;
    flex-direction:row;
    background-color: white;
    width: 500px;
}

.top-row {
    background-color: lightgray;
    height: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.flex-row-item {
    text-align: center;
    height: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* extra classes */

.grow-2 {
    flex: 2;
}

.grow-3 {
    flex: 3;
}

/* google font class */
.fascinate-inline-regular {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .white-text {
    color: white;
  }